
#myCarousel {
  width: 100%;
  margin: 0;
}

#myCarousel .carousel-inner,
#myCarousel .item {
  width: 100%;
}

#myCarousel .item img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  display: block;
}

.navbar {
  background-color: #a51f2f;
  height: 90px;
}

.navimg {
  height: 65px;
  width: auto;
}

.navbar-text {
  display: flex;
  align-items: center;
}

.navbar-nav > li > a {
  color: rgba(255, 255, 255, 0.774) !important;
  font-size: 15px;
  padding-left: 1px;
  padding-right: 1px;
  margin-left: 5px;
  margin-right: 5px;
}

.navbar-text a,
.navbar-text a:hover,
.navbar-text a:focus {
  color: white !important;
}